html {
    font-family: sans-serif;
}

a {
    color: purple;
    text-decoration: none;
}

#float-right {
    color: black;
    float: right;
}

main {
    text-align: center;
    width: 50%;
    padding-left: 25%;
}

button {
    background-color: rgb(75, 2, 75);
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.button {
    display: inline;
}

input {
    display: inline;
    margin-right: 5px;
}

p {
    margin-top: 5px;
}

.init {
    display: inline;
}